body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  min-width: 760px;
}

.nav {
  min-width: 760px;
  z-index: 100;
  height: 57px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ffffff;
  .nav-home {
    position: absolute;
    top: 50%;
    left: 59px;
    transform: translate3d(0, -50%, 0);
    .icon {
      float: left;
      img {
        width: 33px;
        height: 33px;
      }
    }
    .text {
      float: left;
      padding-left: 10px;
      height: 36px;
      line-height: 36px;
      font-family: "SimHei";
      font-size: 21px;
      color: #000;
    }
  }
  .nav-index {
    float: right;
    ul.nav-menu {
      float: left;
      position: relative;
      padding: 0;
      margin: 0;
      > li {
        height: 53px;
        padding-left: 21px;
        padding-right: 21px;
        text-align: center;
        font-size: 14px;
        color: #787b83;
        font-family: "Microsoft Yahei";
        line-height: 53px;
        display: inline-block;
        list-style: none;
        text-align: center;
        &:hover {
          border-bottom: 4px solid #e74f4d;
          color: #e74f4d;
        }
      }
    }
    .login {
      position: relative;
      margin-right: 67px;
      height: 53px;
      float: right;
      width: 50px;
      img {
        width: 14px;
        height: 17px;
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
      }
      .text {
        font-family: "Microsoft Yahei";
        font-size: 14px;
        color: #e74f4d;
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        right: 0;
      }
    }
  }
}

.jumbotron {
  position: relative;
  margin-top: 57px;
  height: 690px;
  width: 100%;
  background: url("../img/back-img.jpg");
  background-size: cover;
  font-family: 'Microsoft Yahei', 'Simhei', Helvetica, Arial, sans-serif;
  .slogan1 {
    padding-top: 230px;
    padding-left: 110px;
    color: #ffffff;
    font-size: 60px;
  }
  .slogan2 {
    padding-top: 20px;
    padding-left: 116px;
    color: #ffffff;
    font-size: 21px;
  }
  .btn {
    width: 332px;
    height: 65px;
    margin-left: 116px;
    margin-top: 60px;
    background-color: #e74f4d;
    color: #ffffff;
    font-size: 30px;
    line-height: 65px;
    text-align: center;
  }
}

.feature {
  width: 100%;
  background-color: #ffffff;
  height: 250px;
  .items {
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    > li.item {
      position: relative;
      float: left;
      height: 100%;
      width: 25%;
      line-height: 53px;
      text-align: center;
      font-size: 14px;
      color: #787b83;
      font-family: "Microsoft Yahei";
      list-style: none;
      .icon {
        width: 100%;
        height: 134px;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3D(-50%, -50%, 0);
        }
      }
      .text {
        width: 100%;
        height: 52px;
        border-left: 2px solid #aaaaab;
        font-size: 14px;
        line-height: 20px;
        font-family: 'Simhei', Helvetica, Arial, sans-serif;
        color: #767777;
        text-align: center;
      }
      &:nth-child(1) {
        .text {
          border-left: 0;
        }
      }
    }
  }
}